<!DOCTYPE html>
<html lang="en-AU">
  <head prefix="og: https://ogp.me/ns#">
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <meta
      content="<%= description %>"
      data-react-helmet="true"
      name="description"
    />
    <meta content="initial-scale=1, viewport-fit=cover" name="viewport" />
    <meta content="<%= themeColor %>" name="theme-color" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cloud.typography.com/6280760/6697232/css/fonts.css"
    />
    <meta
      content="<%= description %>"
      data-react-helmet="true"
      property="og:description"
    />
    <meta content="<%= image %>" data-react-helmet="true" property="og:image" />
    <meta content="en_AU" property="og:locale" />
    <meta content="<%= title %>" data-react-helmet="true" property="og:title" />
    <meta content="website" property="og:type" />
    <meta content="<%= URL %>" data-react-helmet="true" property="og:url" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta
      content="<%= description %>"
      data-react-helmet="true"
      name="twitter:description"
    />
    <meta
      content="<%= image %>"
      data-react-helmet="true"
      name="twitter:image"
    />
    <meta
      content="<%= imageAlt %>"
      data-react-helmet="true"
      name="twitter:image:alt"
    />
    <meta content="<%= URL %>" data-react-helmet="true" name="twitter:site" />
    <meta
      content="<%= title %>"
      data-react-helmet="true"
      name="twitter:title"
    />
    <meta content="<%= robots %>" name="robots" />
    <link data-react-helmet="true" href="<%= URL %>" rel="canonical" />
    <link href="/favicon.ico" rel="icon" sizes="any" />
    <link href="/assets/icon.svg" rel="icon" type="image/svg+xml" />
    <link href="/assets/apple-touch-icon.png" rel="apple-touch-icon" />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-NC2T2QV');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <div class="<%= ns %>-app"></div>
    <noscript>
      <h1>Uh oh!</h1>
      <p>
        You're going to need to enable JavaScript in your browser in order to
        view eddy's site.
      </p>
      <!-- Google Tag Manager (noscript) -->
      <iframe
        height="0"
        src="https://www.googletagmanager.com/ns.html?id=GTM-NC2T2QV"
        style="display: none; visibility: hidden"
        width="0"
      ></iframe>
      <!-- End Google Tag Manager (noscript) -->
    </noscript>
  </body>
</html>
