@import '../utils/tokens';
@import '../functions/to-rem';
@import '../mixins/center';
@import '../mixins/display-p3';

.#{$ns}-avatar {
  position: relative;
  width: 100%;
  max-width: to-rem(240px);
  @include display-p3(border-color, $color-brand);
  border-radius: 100%;
  border-style: solid;
  border-width: to-rem(1px);
  margin-right: auto;
  margin-bottom: to-rem(24px);
  margin-left: auto;
}

.#{$ns}-avatar::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.#{$ns}-avatar__image {
  @include center();
  height: calc(100% - #{to-rem(16px)});
  width: calc(100% - #{to-rem(16px)});
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@include breakpoint(xs) {
  .#{$ns}-avatar {
    margin-bottom: to-rem(40px);
  }
}

@include breakpoint(m) {
  .#{$ns}-avatar__image {
    height: calc(100% - #{to-rem(24px)});
    width: calc(100% - #{to-rem(24px)});
  }
}
