@import '../utils/tokens';
@import '../mixins/center';
@import '../mixins/display-p3';

.eddy-spinner {
  opacity: 0;
  @include center();
  height: 5rem;
  width: 5rem;
  transition: opacity 300ms ease;
}

.eddy-spinner.mounted {
  opacity: 1;
}

.eddy-spinner__ring {
  fill: none;
  stroke-linecap: round;
  stroke-width: 0.5rem;
}

.eddy-spinner__ring:nth-of-type(1) {
  @include display-p3(stroke, $color-gray-8);
}

.eddy-spinner__ring:nth-of-type(2) {
  @include display-p3(stroke, $color-neon-harlequin);
  stroke-dasharray: 0.001 226.194624;
  stroke-dashoffset: -169.645968;
  animation-duration: 2000ms;
  animation-name: spinning;
  animation-iteration-count: infinite;
}

@keyframes spinning {
  0% {
    stroke-dasharray: 0 0 0.001 226.194624;
  }
  50% {
    stroke-dasharray: 0 0 226.194624 0;
  }
  100% {
    stroke-dasharray: 0 226.194624 0.001 0;
  }
}
