@import '../utils/tokens';
@import '../functions/to-rem';
@import '../mixins/breakpoint';
@import '../mixins/center';
@import '../mixins/display-p3';
@import '../mixins/has-retina';

.#{$ns}-section {
  position: relative;
  box-sizing: border-box;
  max-width: to-rem(1488px);
  padding: to-rem(24px);
  margin-right: auto;
  margin-left: auto;
}

.#{$ns}-section.#{$ns}-section--image {
  display: flex;
  align-items: center;
  min-height: 56.25vw;
  max-width: unset;
  margin-right: unset;
  margin-left: unset;
  background-position-y: center;
  background-size: cover;
}

// // .#{$ns}-section:nth-of-type(1)::after {
// //   content: '';
// //   position: absolute;
// //   bottom: 0;
// //   left: to-rem(20px);
// //   display: block;
// //   height: to-rem(1px);
// //   width: calc(50% - #{to-rem(20px)});
// //   @include display-p3(background-color, $color-brand);
// // }

// // .#{$ns}-section:nth-of-type(2)::before {
// //   content: '';
// //   position: absolute;
// //   top: 0;
// //   left: to-rem(20px);
// //   display: block;
// //   width: to-rem(1px);
// //   height: 69.5%;
// //   // width: calc(50% - #{to-rem(20px)});
// //   // height: to-rem(1px);
// //   @include display-p3(background-color, $color-brand);
// // }

.#{$ns}-section__heading {
  margin-bottom: to-rem(16px);
  font-family: $font-family-headings;
  font-size: $font-size-xxxxl;
  font-weight: 500;
  line-height: to-rem(48px);
}

.#{$ns}-section--image .#{$ns}-section__heading {
  display: inline-block;
  padding-right: to-rem(8px);
  padding-left: to-rem(8px);
  @include display-p3(background-color, rgba($color-gray-10, 0.67));
  backdrop-filter: blur(#{to-rem(4px)});
}

.#{$ns}-section__blurb > * {
  margin-bottom: to-rem(16px);
  font-size: $font-size-xxs;
  font-weight: $font-weight-regular;
  line-height: to-rem(24px);
}

.#{$ns}-section__blurb > :last-child {
  margin-bottom: 0;
}

.#{$ns}-section--image .#{$ns}-section__blurb > * {
  display: inline-block;
  padding-right: to-rem(8px);
  padding-left: to-rem(8px);
  @include display-p3(background-color, rgba($color-gray-10, 0.67));
  backdrop-filter: blur(#{to-rem(4px)});
}

.#{$ns}-section__image {
  width: 100%;
  padding-top: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 117.647059%;
}

@include has-retina() {
  .#{$ns}-section__blurb > * {
    font-weight: $font-weight-light;
  }
}

@include breakpoint(xs) {
  .#{$ns}-section {
    padding: to-rem(40px);
  }

  .#{$ns}-section__heading {
    margin-bottom: to-rem(24px);
    font-size: $font-size-xxxxxl;
  }

  .#{$ns}-section__blurb > * {
    margin-bottom: to-rem(24px);
  }

  .#{$ns}-section__blurb > :last-child {
    margin-bottom: 0;
  }
}

@include breakpoint(s) {
  .#{$ns}-section {
    padding: to-rem(64px);
  }

  // .#{$ns}-section.#{$ns}-section--image {
  //   align-items: center;
  //   min-height: 56.25vw;
  // }

  .#{$ns}-section__heading {
    margin-bottom: to-rem(28px);
    font-size: $font-size-xxxxxxl;
    line-height: to-rem(56px);
  }

  .#{$ns}-section__blurb > * {
    margin-bottom: to-rem(28px);
    font-size: $font-size-xs;
    line-height: to-rem(28px);
  }

  .#{$ns}-section__blurb > :last-child {
    margin-bottom: 0;
  }
}

@include breakpoint(m) {
  .#{$ns}-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: to-rem(40px);
    padding: to-rem(104px);
  }

  .#{$ns}-section:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .#{$ns}-section__inner {
    flex-basis: 50%;
  }

  .#{$ns}-section__heading {
    font-size: $font-size-xxxxxxxl;
    line-height: to-rem(64px);
  }

  .#{$ns}-section__image {
    flex-basis: 50%;
    width: unset;
    padding-top: 37.5%;
  }
}

@include breakpoint(l) {
  .#{$ns}-section.#{$ns}-section--image {
    min-height: to-rem(576px);
  }

  .#{$ns}-section__heading {
    margin-bottom: to-rem(32px);
    font-size: $font-size-xxxxxxxxl;
    line-height: to-rem(72px);
  }

  .#{$ns}-section__blurb > * {
    margin-bottom: to-rem(32px);
    font-size: $font-size-s;
    line-height: to-rem(32px);
  }

  .#{$ns}-section__blurb > :last-child {
    margin-bottom: 0;
  }
}

@include breakpoint(xl) {
  .#{$ns}-section__heading {
    font-size: $font-size-xxxxxxxxxl;
    line-height: to-rem(80px);
  }
}
