@import '../utils/tokens';
@import '../functions/to-rem';
@import '../mixins/center';
@import '../mixins/display-p3';

.#{$ns}-tiles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: to-rem(12px);
}

.#{$ns}-tile {
  position: relative;
  height: to-rem(80px);
  border-radius: to-rem(8px);
  @include display-p3(background-color, $color-gray-9);
}

.#{$ns}-tile__logo {
  @include center();
  @include display-p3(fill, $color-snow);
  height: to-rem(72px);
  width: auto;
}

@include breakpoint(xs) {
  .#{$ns}-tiles {
    gap: to-rem(20px);
  }

  .#{$ns}-tile {
    height: to-rem(104px);
  }

  .#{$ns}-tile__logo {
    height: to-rem(88px);
  }
}

@include breakpoint(m) {
  .#{$ns}-tiles {
    flex-direction: row;
  }

  .#{$ns}-tile {
    height: to-rem(168px);
    width: calc(50% - #{to-rem(10px)});
  }
}

@include breakpoint(l) {
  .#{$ns}-tile__logo {
    height: to-rem(96px);
  }
}

@include breakpoint(xl) {
  .#{$ns}-tile__logo {
    height: to-rem(104px);
  }
}
