@import '../utils/tokens';
@import '../mixins/breakpoint';
@import '../mixins/display-p3';
@import '../functions/to-rem';

.#{$ns}-h3 {
  margin-bottom: to-rem(16px);
  font-family: $font-family-headings;
  font-size: $font-size-s;
  font-weight: 500;
  line-height: to-rem(24px);
  white-space: nowrap;
}

.#{$ns}-link {
  padding: to-rem(8px);
  margin-left: to-rem(-8px);
  @include display-p3(color, $color-gray-0);
  font-weight: $font-weight-regular;
  @include display-p3(text-decoration-color, $color-brand);
  text-decoration-thickness: to-rem(2px);
  text-underline-offset: to-rem(4px);
}

.#{$ns}-link:focus {
  @include display-p3(outline-color, $color-focus-outline);
  outline-style: solid;
  outline-width: to-rem(3px);
}

.#{$ns}-punctuation {
  @include display-p3(color, $color-brand);
}

@include breakpoint(xs) {
  .#{$ns}-h3 {
    margin-bottom: to-rem(24px);
    font-size: $font-size-l;
  }
}

@include breakpoint(s) {
  .#{$ns}-h3 {
    margin-bottom: to-rem(28px);
    font-size: $font-size-xl;
    line-height: to-rem(32px);
  }
}

@include breakpoint(m) {
  .#{$ns}-h3 {
    font-size: $font-size-xl;
    line-height: to-rem(40px);
  }
}

@include breakpoint(l) {
  .#{$ns}-h3 {
    font-size: $font-size-xxl;
  }
}

@include breakpoint(xl) {
  .#{$ns}-h3 {
    font-size: $font-size-xxxl;
  }
}
