@function to-display-p3($color) {
  $alpha: alpha($color);
  $blue: blue($color);
  $green: green($color);
  $red: red($color);

  @if $alpha == 1 {
    @return color(display-p3 #{$red / 255} #{$green / 255} #{$blue / 255});
  } @else {
    @return color(
      display-p3 #{$red / 255} #{$green / 255} #{$blue / 255} unquote('/') #{$alpha *
        100%}
    );
  }
}
